
# these configs use password instead of keys which is not recommended.

[defaults]
host_key_checking = False

#[ssh_connection]
#ssh_args = -o PreferredAuthentications=password -o PubkeyAuthentication=no